/* You can add global styles to this file, and also import other style files */
@import './assets/styles/colors.scss';

html,
body {
  height: 100%;
}

body {
  background-color: $white;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 0.875rem;
  margin: 0;
}
